<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.shoppro.mapper.TProductMapper">
  <resultMap id="BaseResultMap" type="com.xy.shoppro.entity.TProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="flag" jdbcType="BIT" property="flag" />
    <result column="sale_point" jdbcType="VARCHAR" property="salePoint" />
    <result column="sale_price" jdbcType="BIGINT" property="salePrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, images, price, type_id, type_name, create_date, update_date, flag, sale_point,sale_price
  </sql>
  <!--查询一集合数据-->
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    where flag=1
  </select>
  <!--单个删除-->
  <update id="updateFlagById">
    update t_product
    set flag=#{flag}
    where id=#{id}
  </update>
  <!--批量删除-->
  <update id="updateFlagByIds">
    update t_product
    set flag=#{flag}
    where id
    in
    <foreach collection="list" separator="," close=")" open="(" item="id">
      #{id}
    </foreach>
  </update>


  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xy.shoppro.entity.TProduct">
    insert into t_product (id, name, images, 
      price, type_id, type_name, 
      create_date, update_date, flag,sale_point,sale_price
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, 
      #{price,jdbcType=BIGINT}, #{typeId,jdbcType=BIGINT}, #{typeName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{flag,jdbcType=BIT}
      , #{salePoint,jdbcType=VARCHAR}, #{salePrice,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xy.shoppro.entity.TProduct" useGeneratedKeys="true" keyProperty="id">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
        create_date,
        update_date,
        flag,
      <if test="salePoint != null">
        sale_point,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=BIGINT},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      now(),
      now(),
      1,
      <if test="salePoint != null">
        #{salePoint,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.shoppro.entity.TProduct">
    update t_product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="salePoint != null">
        sale_point = #{salePoint,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.shoppro.entity.TProduct">
    update t_product
    set name = #{name,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      type_id = #{typeId,jdbcType=BIGINT},
      type_name = #{typeName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=BIT},
      sale_point = #{salePoint,jdbcType=VARCHAR}
      sale_price = #{salePrice,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>