<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.dubboshoppro.mapper.TProductBasicMapper">
  <resultMap id="BaseResultMap" type="com.xy.dubboshoppro.entity.TProductBasic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="table_product_name" jdbcType="CHAR" property="tableProductName" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="table_product_image" jdbcType="CHAR" property="tableProductImage" />
  </resultMap>
  <sql id="Base_Column_List">
    id, table_product_name, type_id, table_product_image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_basic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_product_basic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xy.dubboshoppro.entity.TProductBasic">
    insert into t_product_basic (id, table_product_name, type_id, 
      table_product_image)
    values (#{id,jdbcType=BIGINT}, #{tableProductName,jdbcType=CHAR}, #{typeId,jdbcType=BIGINT}, 
      #{tableProductImage,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xy.dubboshoppro.entity.TProductBasic">
    insert into t_product_basic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tableProductName != null">
        table_product_name,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="tableProductImage != null">
        table_product_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tableProductName != null">
        #{tableProductName,jdbcType=CHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="tableProductImage != null">
        #{tableProductImage,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.dubboshoppro.entity.TProductBasic">
    update t_product_basic
    <set>
      <if test="tableProductName != null">
        table_product_name = #{tableProductName,jdbcType=CHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="tableProductImage != null">
        table_product_image = #{tableProductImage,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.dubboshoppro.entity.TProductBasic">
    update t_product_basic
    set table_product_name = #{tableProductName,jdbcType=CHAR},
      type_id = #{typeId,jdbcType=BIGINT},
      table_product_image = #{tableProductImage,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>