<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Title</title>
    <!-- Bootstrap -->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <!--uploadfive-->
    <link rel="stylesheet" type="text/css" href="css/uploadifive.css">
</head>
<body>
<!-- 添加产品弹出层 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" aria-hidden="true" role="document">
        <div class="modal-content">
            <!--此处应有插入-->
        </div>
    </div>
</div>
<!-- 修改产品弹出层 -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" aria-hidden="true"  role="document">
        <div class="modal-content">
<!--此处应有插入-->
        </div>
    </div>
</div>
<!--主体body-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addModal" href="product/toAdd">添加</button>
                <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#myModal" id="dels">批量删除</button>
            </div>
        </div>
        <!--商品展示列表-->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <td><input type="checkbox" id="all"/>ID</td>
                        <td>商品类别</td>
                        <td>商品名称</td>
                        <td>商品价格</td>
                        <td>商品图片</td>
                        <td>商品卖点</td>
                        <td>操作</td>
                    </tr>
                    <tr th:each="product : ${pageInfo.list}">
                        <td><input type="checkbox" class="ids" th:value="${product.id}"/><span th:text="${product.id}"></span></td>
                        <td th:text="${product.typeName}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <img src="#" th:src="${product.images}" width="50px" height="50px"/>
                        </td>
                        <td th:text="${product.salePoint}"></td>
                        <td >
                            <button type="button" class="btn btn-primary"
                                    data-toggle="modal" href="#" th:href="'product/toModify?id='+${product.id}" data-target="#modifyModal">修改</button>
                            <button type="button" class="btn btn-danger delete" th:btnId="${product.id}"  data-toggle="modal" data-target="#myModal">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--分页栏-->
        <div class="row">
            <div class="col-md-4">
                每页<span th:text="${pageInfo.pageSize == 0 ?1 : pageInfo.pageSize}"></span>条记录,共<span th:text="${pageInfo.total}"></span>条记录，当前第<span th:text="${pageInfo.pageNum}"></span>页
            </div>
            <div class="col-md-4 col-md-offset-8">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#"  th:href="'product/page?pageNum='+${pageInfo.pageNum - 1}+'&pageSize='+${pageInfo.pageSize}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="pageNum : ${pageInfo.navigatepageNums}" th:class="${pageNum == pageInfo.pageNum ? 'active':''}">
                            <a href="#"  th:href="'product/page?pageNum='+${pageNum}+'&pageSize='+${pageInfo.pageSize}" th:text="${pageNum}"></a>
                        </li>
                        <li>
                            <a href="#"  th:href="'product/page?pageNum='+${pageInfo.pageNum + 1}+'&pageSize='+${pageInfo.pageSize}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li>
                            <a >每页
                                <select id="sizes">
                                <option value="1" th:selected="${pageInfo.pageSize == 1 ? 'selected':false}">1</option>
                                <option value="2" th:selected="${pageInfo.pageSize == 2 ? 'selected':false}">2</option>
                                <option value="3" th:selected="${pageInfo.pageSize == 3 ? 'selected':false}">3</option>
                                <option value="4" th:selected="${pageInfo.pageSize == 4 ? 'selected':false}">4</option>
                                <option value="5" th:selected="${pageInfo.pageSize == 5 ? 'selected':false}">5</option>
                            </select>条</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<!--uploadfive-->
<script src="js/jquery.uploadifive.js" type="text/javascript"></script>
<!--实现每页几条可选-->
<script type="text/javascript" >
    $(function () {
        $("#sizes").change(function () {
            location.href='product/page?pageNum=1&pageSize='+$(this).val();
        })
        /**
         * 添加表单的设置
         */
        // $('#addModal').modal({
        //     // backdrop:'static',
        //     show: false
        // });
        // $('#modifyModal').modal({
        //     show: false
        // });
        /**
         * 添加产品
         */
        $("#addSure").click(function () {
            $("#form1").submit();
        })

        /**
         * 单个商品删除
         */
        $('.delete').click(function () {
            var id=$(this).attr('btnId');
            if(confirm("Are You Sure？")){
                // location.href="?id="+id;
                $.ajax({
                    type:"get",
                    url:"product/del",
                    data:{id:id},
                    success:function (dat) {
                        if(dat.statusCode==200){
                            alert(dat.data);
                            location.href="product/page";
                        }else{
                            alert(dat.data);
                        }
                    }
                })
            }
        });

        /**
         * 全选全不选
         */
        $("#all").click(function () {
            $(".ids").prop("checked",$(this).prop("checked"));
        });

        $(".ids").click(function () {
            $("#all").prop("checked",$(".ids").length == $(".ids:checked").length);
        })
        /**
         * 批量删除
         */
        $('#dels').click(function () {
            //先获取选中的ids
            var idss=$('.ids:checked');
            var ids=[];
            //遍历赋值
            for (var i=0;i<idss.length;i++){
                ids.push(idss[i].value);
            }
            //发送请求
            if(confirm("Are You Sure?")){
                $.ajax({
                    type:"get",
                    url:"product/dels",
                    data:"ids="+ids,
                    success:function (result) {
                        if(result.statusCode==200){
                            alert(result.data);
                            location.href="product/page";
                        }else{
                            alert(dresultat.data);
                        }
                    }
                })
            }
        });

        //上传文件
        // $('#file_upload').uploadifive({
        //     'uploadScript': 'file/upload',
        //     'fileObjName' : 'file',
        //     'buttonText'  : '图片上传',
        //     'removeCompleted' : true,
        //     // Put your options here
        //     'onUploadComplete' : function(file, data) {
        //         // alert('The file ' + file.name + ' uploaded successfully.');
        //         // console.log(data);
        //         // console.log(file);
        //         var data=JSON.parse(data);
        //         if(data.statusCode==200){
        //             $('#showImage').attr('src',data.data).show();
        //             $('#input4').val(data.data);
        //         }else{
        //             alert(data.data);
        //         }
        //     }
        // });
    })
</script>
</body>
</html>